body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
}
.container{
    border: 2px black;
    padding: 40px 20px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;    
}