body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
}
.container{
    border: 2px black;
    padding: 40px 20px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;    
}
.card{
    width: 260px;
    border: 2px solid #3498db;
    border-radius: 8px;
    text-align: center;   
    padding: 25px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    

}