body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
}
h2, h3{
    color: #333;
}
.box-container{
    margin-bottom: 30px;
}
.box{
    display: inline-block;
    width: 100px;
    height:80px ;
    color: white;
    text-align: center;
    line-height: 80px;
    margin-right: 10px;
    border-radius: 6px;
    float: left;
    text-decoration: none;
}
.red{
    background-color: #e74c3c;

}
.blue{
    background-color: #3498db;
}
.green{
    background-color: #27ae60;
    
}
p{
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
}
.clear{
    clear: both;
}