.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 15px 20px;
}

.logo {
  font-size:small;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: small;
}

.actions a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  .nav-links {
    display: none; 
  }
  .actions {
    font-size: small;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .nav-links a {
    font-size: small;
  }
}

@media (min-width: 1025px) {
  .nav-links a {
    font-size: small;
  }
}