* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    background-color: rgb(252, 109, 140);
}

.logo {
    color: rgb(240, 237, 241);
    letter-spacing: 3px;
}

nav a {
    color: rgb(168, 213, 250);
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    min-height: 300px;
    padding: 40px 20px;
    text-align: center;
    background-color: #f4f4f4;
}

.hero img {
    height: 120px;
    margin-bottom: 15px;
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    font-size: 18px;
    margin-top: 10px;
}

.about {
    padding: 50px;
    text-align: center;
}

.collection {
    background-color: #fcd2d2;
    padding: 50px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card {
    background: #c1f3ff;
    width: 250px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.products {
    padding: 50px;
    text-align: center;
    background-color: #fff;
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.product-card {
    width: 250px;
    background: #fff0f0;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card h3 {
    margin-top: 10px;
    font-size: 18px;
}

.product-card p {
    font-size: 14px;
    margin: 5px 0;
}

.price {
    display: block;
    font-weight: bold;
    margin: 10px 0;
    color: rgb(252, 109, 140);
}

.btns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

button {
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy {
    background-color: black;
    color: white;
}

.cart {
    background-color: rgb(252, 109, 140);
    color: white;
}

.contact {
    padding: 40px;
    text-align: center;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}
