body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff0f5;
    color: #333;
    text-align: center;
}

header {
    background-color: #c97b63;
    color: white;
    padding: 25px;
}

.highlight {
    color: yellow;
}

mark {
    background-color: #ffcccb;
    color: black;
    padding: 3px 6px;
    border-radius: 5px;
}

.nav-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-color: white;
    color: #c97b63;
    padding: 8px 15px;
    border-radius: 6px;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #f4d7d0;
}

.video-section {
    margin: 30px;
}

.modules {
    background-color: white;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.1);
}

.color-text {
    color: #c97b63;
    font-weight: bold;
}

.modules ul {
    text-align: left;
    padding-left: 40px;
}

.btn-link {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background-color: #c97b63;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

.btn-link:hover {
    background-color: #a65d4b;
}

footer {
    margin-top: 40px;
    background-color: #c97b63;
    color: white;
    padding: 15px;
}